<!DOCTYPE html>
<html lang="en">

<head>
  <title>Uber Games</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  
<!--stylesheets-->
<link rel="stylesheet" href="css/styles.css">
<link rel="stylesheet" href="css/card.css"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">

<script src="https://code.jquery.com/jquery.js"></script>

</head>

<body>

 <div class="container is-fullhd">
      <div class="container is-fluid">
        <div class="hero-body">
        <h1 class="title" style = "text-align: center; color: white">
          UBER GAMES
        </h1>

        <h2 class="subtitle" style = "text-align: center; color: white">
          The greatest resource for buying games!
        </h2>
        
                <div class="column is-full">
                  <div class="column is-11 is-offset-4">
                    <a href="/post"><button class="button"><span class="fa fa-plus" ></span>Add New Listing</button></a>
                    <a href="/listings"><button class="button"><span class="fa fa-eye"></span>All listings</button></a>
                  </div>
                </div>
          </div>
        </div>
      </div>

  {{{body}}}
</body>

</html>