<div class="container">
  <div class="row top-30">
    <div class="col-md-2 col-sm-2">
      <a class="btn btn-default" href="/dashboard">Go to Blog</a>
    </div>
    <div class="col-md-2 col-sm-2">
      <a class="btn btn-default" href="/post">New Post</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="condition-container">
        <h1>Conditions</h1>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th># of Posts</th>
              <th>See Condition's Posts</th>
              <th>New Post</th>
              <th>Delete Condition</th>
            </tr>
          </thead>
          <tbody>
            <tr id="form-row">
              <form id="condition-form">
                <td colspan="4">
                  <input placeholder="Enter a name" id="condition-name" type="text" />
                </td>
                <td>
                  <button type="submit" class="btn btn-success">Create Condition</button>
                </td>
              </form>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  </d>
  <!-- Custom Script -->
  <script src="js/condition.js" type="text/javascript"></script>