<div id="gameName" style="text-align: center; color:white; font-size: 30px; background-color:black;"> </div>
<img src="" alt="" id="gameIMG" style="height: 400px; width:600px; float:initial" />
<div>
  <div id="gameDetails" style="align: center;">

    <div>
      <h5 id="gameGenre"></h5>
    </div>
    <div>
      <h5 id="gamePlatform"></h5>
    </div>
  </div>
  <ul>
    <li id="gameMetacritic"></li>
  </ul>
  <p id="gameDescription" style="text-align: center; color:white;"></p>

  <li>
    <div>
      <div id="ESRB"></div>
      <div id="gameReleaseDate"></div>
    </div>
  </li>
  <li>
    <div>
      <div id="gameDeveloper"></div>
      <div id="gamePublisher"></div>
    </div>
  </li>
  </ul>
  <div>
    <a href="#" target="_blank" id="gameWebsite"></a>
    <a href="#" target="_blank" id="gameReddit"></a>
  </div>


  <div>



    <form id="cms">
      <div class="form-group">
        <label for="gametitle">Game Title</label>
        <input type="text" class="form-control" id="title">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="body">
      </div>
      <div class="form-group">
        <label for="price"> Price </label>
        <input type="text" class="form-control" id="price">
      </div>
      <div class="form-group">
        <label for="category">Condition:</label>
        <select class="form-control" id="condition">
        </select>
      </div>
      <br>
      <div class="text-right">
        <button type="submit" class="btn btn-success submit">Submit</button>
      </div>
    </form>



  </div>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js">
</script>
<script src="js/post.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/game_detail.js"></script>
<script src="js/game.js"></script>
<script src="js/post.js"></script>