<div class="container is-fluid">
  <div class="hero-body">
    <a href="/">
      <h1 class="title" style="text-align: center; color: white">UBER GAMES</h1>
    </a>
    <h2 class="subtitle" style="text-align: center; color: white">The greatest resource for buying games!</h2>
    <div class="columns">
      <div class="column is-4"></div>
      <div class="column">
        <a href="/post"><button class="button"><span class="fa fa-plus"></span>Add New Listing</button></a>
      </div>
      <div class="column is-4">
        <a href="/listings"><button class="button"><span class="fa fa-eye"></span> View all listings</button></a>
      </div>
      <div class="column"></div>
    </div>
  </div>
</div>

<div class="container is-fluid">
  <div class="hero-body">
    <div class="columns">
      <div class="column is-3"></div>
      <div class="column">
        <input class="input" type="search" id="gameTitle" placeholder="What game are you looking?"
          aria-label="Search" />
      </div>
      <div class="column">
        <button class="button is-success" type="submit" id="submitBtn" onclick="getGameCards()">
          <i class="fas fa-search"> Search</i>
      </div>
    </div>
  </div>
</div>

<div class="nav-btns">
  <div class="row">
    <div class="col-6"><button class="button is-small" type="submit" id="prevBtn" onclick="toPrevPage()" disabled>
        <i class="fas fa-angle-left"></i>
      </button></div>
    <div class="col-6"><button class="button is-small" type="submit" id="nextBtn" onclick="toNextPage()" disabled>
        <i class="fas fa-angle-right"></i>
      </button></div>
  </div>
</div>
</div>

</div>


<div id="root"></div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="js/search_game.js"></script>
<script src="js/game.js"></script>